@layout('layouts/main')

@section('body')
  <section>
    I am Name: {{auth.user.email}}

    <form action="/verify-email" method="post">
      <input type="submit" value="Reenviar">
    </form>
  </section>
@endsection