@layout('layouts/main')

@section('body')
  <main>
    <div>
      @if(auth.isAuthenticated)
        <h1 class="title"> Welcome {{auth.user.name}} </h1>

        <form action="/logout" method="post">
          
          <button type="submit">Sign Out</button>

        </form>
      @else
        <a href="/login">Login</a>
      @endif
    </div>
  </main>
@endsection
